:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
  --tg-theme-header-bg-color:rgb(188, 83, 53);
  --tg-accent-text-color:rgb(113, 191, 89);
}
